body {
    font-family: 'Fjalla One', sans-serif;
    padding: 0; 
    margin: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

#overlay {
    position: fixed;
    width: 30%;
    min-width: 600px;
    height: 80%;
    background: rgba(0,0,0,0.95);
    left:0;
    top:0;
    margin: 2%;
    padding: 50px;
    color: #FFF;
}

img { 
    display: inline-block;
    padding: 25px;
}
